name: "Publish to GitHub Pages"

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - "Build and Export Game"  # تأكد أن هذا الاسم مطابق تماماً
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  publish:
    name: Publish to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: endlessm/amalgamate-pages@v2
        with:
          workflow_name: "Build and Export Game"  # نفس الاسم هنا
          artifact_name: web
